body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #005229;
  margin: 0;
}

header {
  background-color: #009e4e;
  padding: 5px;
}

h1 {
  text-align: center;
  font-style: italic;
  font-weight: 850;
  color: white;
  margin: 0;
}

h1 img {
  vertical-align: sub;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  overflow: hidden;
}

.conteiner {
  width: 732px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  margin-right: 10px;
  color: whitesmoke;
  background-color: #009e4e;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.numbers {
  border: none;
  padding: 10px;
  list-style-type: none;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  background-color: #009e4e;
  border-radius: 5px;
}

.number {
  display: inline-block;
  margin: 10px;
  border: 1px solid whitesmoke;
  width: 25px;
  border-radius: 100%;
  padding: 5px;
  user-select: none;
  cursor: pointer;
  color: white;
  transition: all 0.4s ease-in-out;
}

.number:hover {
  transform: scale(1.2);
}

.selected-number {
  background-color: #005229;
}

.saved-games-list {
  color: whitesmoke;
  list-style: none;
  padding: 0;
}

button[data-save-btn='saveBtnDisabled']:disabled {
  cursor: not-allowed;
  background: #aaa;
  color: #ddd;
}

.empty-game {
  color: whitesmoke;
}

h3 {
  color: whitesmoke;
}
